<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-header navbar-left">
            <a href="<%- config.root %>" class="navbar-brand"><%- theme.logo %> </a>
        </div>
        <div class="navbar-header navbar-right">
            <div class="navbar-right-item">
                <a href="http://www.baidu.com">随手文章</a>
            </div>
            <div class="navbar-right-item">
                <a href="http://www.baidu.com">学习笔记</a>
            </div>
            <div class="navbar-right-item">
                <a href="http://www.baidu.com">文档整理</a>
            </div>
        </div>
    </div>
</nav>